input_field: text
filters:
  - name: nemo_curator.filters.classifier_filter.FastTextQualityFilter
    params:
      # FastText Model file
      model_path: <Path to the FastText model file>
      # Pareto sampling parameter
      # (Higher alpha values will allow fewer low-quality documents
      # to pass through)
      alpha: 3
      # The label used for high-quality documents
      label: "__label__hq"
